<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>servlets.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>servlets.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>servlets.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>servlets.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBuyerServlet</servlet-name>
        <servlet-class>servlets.AddBuyerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBuyerServlet</servlet-name>
        <servlet-class>servlets.UpdateBuyerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBuyerServlet</servlet-name>
        <servlet-class>servlets.DeleteBuyerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>servlets.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessSaleServlet</servlet-name>
        <servlet-class>servlets.ProcessSaleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBuyerServlet</servlet-name>
        <url-pattern>/AddBuyerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBuyerServlet</servlet-name>
        <url-pattern>/UpdateBuyerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBuyerServlet</servlet-name>
        <url-pattern>/DeleteBuyerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/ProductListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessSaleServlet</servlet-name>
        <url-pattern>/ProcessSaleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
